body {
    display: flex;
    flex-flow: row nowrap;
    /*formatting*/
    border: 5px solid red;

}

div {
    /*formatting*/
    height: 100px;
    width: 300px;
    border: 1px solid red;
    margin: 1em;
    background-color: darkgray;
    text-align: center;
}

#uno {
    order: 3;
}

#dos {
    order: 1;
}

#tres {
    order: 2;
}