html {
    background-color: blue;
}

body {
    background-color: green;
    width: 60%;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
    border: 10px groove orange;
    border-radius: 100%;

}

#primary {
    color: red;
}

#secondary {
    color: blue;
}