
h4, h5, h6 {
    margin: 50px;
    padding: 0;
    border: 0;
    font-size: 500%;

}

h1, h2, h3 {
    margin: 50px;
    font-size:200%;
}

img {
    border: groove gold;
    border-radius: 10px;
    border-width: thick 10px;
}

