body {
    display: flex;
    /*formatting*/
    border: 5px solid red;

}

div {
    /*flex-basis: auto;*/
    /*formatting*/
    width: 500px;
    height: 100px;
    border: 1px solid red;
    margin: 1em;
    background-color: darkgray;
    text-align: center;
}