div {
    width: 100px;
    height:100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;
    margin: 10px auto;
}

img {
    width: 200px;
    box-sizing: border-box;
    border: 10px groove orange;
    padding: 20px;


}

.surferone {
    border: 10px dashed orange;
}

.surfertwo {
    border: 10px dotted orange;
}

.surferthree {
    border: 10px double orange;
}

