div {
    width: 400px;
    height: 200px;
    background-color: red;
    border-radius: 50px;
    border: 20px groove gold;
    background-image: url("../../01_float_img/01/surf.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
