html {
    background-image: -webkit-linear-gradient(45deg, red 0%, white 50%, blue 100%);
    font-size: 1vw;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 5px 5px 0 0;
    border-radius: 25px;
    width: 60vw;
    margin: 15px auto;

}

#one {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 2rem;
    border-radius: 25px;
    color: white;
    font-size: 200%;

}

#two {
    width: 100px;
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 2px solid black;
    margin-bottom: 2rem;
    border-radius: 25px;
    color: white;
    font-size: 200%;
}