body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 900px;
    height: 600px;
    border: 50px solid black;
    /*background-color: deepskyblue;*/
    /*background: cornflowerblue url("IMG_4180.JPG") no-repeat;*/
    /*background: url("IMG_4180.JPG") center cover no-repeat fixed border-box;*/
    background-image: url("IMG_4180.JPG");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: border-box;
    background-color: cornflowerblue;
}
